.cartContainer {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 26.5rem;
  padding: 2rem 0 1rem 0;

  section {
    padding: 0 1rem;

    h1 {
      text-align: center;
    }

    p {
      font-size: 1rem;
      margin-top: 1.5rem;
    }

    .hasProducts {
      .arrayItem {
        display: grid;
        grid-template-columns: 15% 45% 35%;
        grid-gap: 1rem;
        margin-top: 1.5rem;

        img {
          border-radius: 0.5rem;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;

          span {
            color: var(--gray-500);

            & + span {
              font: 700 1.2rem;
              color: var(--default);
              font-weight: bold;
            }
          }
        }

        section {
          display: flex;
          margin-left: auto;

          button {
            background: red;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.5rem;
          }
        }
      }
    }

    .deliveryBill {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: var(--gray-200);
      margin: 2rem 0 1rem 0;
    }

    .cupomCode {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed var(--gray-200);
      height: 2rem;
    }
  }

  .buttonArea {
    border-top: 1px solid var(--gray-100);
    padding: 1rem 1rem 0 1rem;

    button {
      background: var(--default);
      width: 100%;
      height: 3rem;
      border-radius: 0.5rem;
    }
  }
}

@media (max-width: 1100px) {
  .cartContainer {
    display: none;
  }
}
