.homeContainer {
  display: flex;
  transition: 1s;
  background: var(--white);
  height: 100vh;
  width: 100%;

  .divider {
    background: var(--light-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 50%;

    img {
      width: 80%;
      height: 80%;
    }

    &#moveDivToRight {
      animation: moveDivToRight ease forwards;
      animation-duration: 500ms;
    }

    &#moveDivToLeft {
      animation: moveDivToLeft ease forwards;
      animation-duration: 500ms;
    }
  }
}

.customResponse {
  position: absolute;
  background: red;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 30%;
  margin: 0 35%;
  z-index: 999;
  animation: moveResponseToBottom forwards;
  animation-duration: 500ms;

  span {
    color: var(--white);
    font: 600 1.3rem Candara, sans-serif;
  }

  &#error {
    background: var(--error);
  }

  &#success {
    background: var(--success);
  }
}

@keyframes moveResponseToBottom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 2rem;
  }
}

@keyframes moveDivToRight {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 50%;
  }
}

@keyframes moveDivToLeft {
  from {
    margin-left: 50%;
  }
  to {
    margin-left: 0;
  }
}
