.homeContainer {
    display: flex;
    transition: 1s;
    background: var(--white);
    height: 100vh;
    width: 100%;

    .divider {
        background: var(--light-default);
        position: absolute;
        height: 100vh;
        width: 50%;

        &#moveDivToRight {
            animation: moveDivToRight ease forwards;
            animation-duration: 500ms;
        }

        &#moveDivToLeft {
            animation: moveDivToLeft ease forwards;
            animation-duration: 500ms;
        }
    }
}

@keyframes moveDivToRight {
    from {margin-left: 0}
    to {margin-left: 50%}
}
@keyframes moveDivToLeft {
    from {margin-left: 50%}
    to {margin-left: 0}
}
