
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --border: rgba(0, 0, 0, .05);

  --shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);

  --facebook: #3b5998;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --default: #FE705F;
  --light-default: #EFABA1;
}

html {
  font-size: clamp(14px, 2vw, 18px);    // Texto responsivo, texto padrão nunca vai ser menor que 14px ou maior que 18px, e o desejado é 2/100 do tamanho da tela
}

body {
  background: var(--gray-50);
}

body, input, textarea, button {
  font: 500 1rem Inter, sans-serif;
  color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button, a {
  cursor: pointer;
  transition: filter 200ms;
}

button:hover {
  filter: brightness(0.9);
}